<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE Motors</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <div><h2>CSE Motors</h2></div>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Custom</li>
                    <li>Sedan</li>
                    <li>SUV</li>
                    <li>Truck</li>
                </ul>
            </nav>
            <div><p>My Account</p></div>
        </header>
        <div class="main-content">
            <h1>Welcome to CSE Motors!</h1>
            <div class="car-info">
                <div class="car-details">
                    <h2>DMC Delorean</h2>
                    <ul>
                        <li>3 Cup holders</li>
                        <li>Superman doors</li>
                        <li>Fuzzy dice!</li>
                    </ul>
                    <button>Own Today</button>
                </div>
                <img src="../public/images/vehicles/aerocar-tn.jpg" alt="DMC Delorean">
            </div>
        </div>
        <footer>
            <p>Delorean Upgrades</p>
            <p>DMC Delorean Reviews</p>
        </footer>
    </div>
</body>
</html>




<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE Motors</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <header>
        <div><h2>CSE Motors</h2></div>
        <nav>
            <ul>
                <li>Home</li>
                <li>Custom</li>
                <li>Sedan</li>
                <li>SUV</li>
                <li>Truck</li>
            </ul>
        </nav>
        <div><p>My Account</p></div>
    </header>
    <div class="main-content">
        <h1>Welcome to CSE Motors!</h1>
        <div class="car-info">
            <div class="car-details">
                <h2>DMC Delorean</h2>
                <ul>
                    <li>3 Cup holders</li>
                    <li>Superman doors</li>
                    <li>Fuzzy dice!</li>
                </ul>
                <button>Own Today</button>
            </div>
            <img src="../public/images/vehicles/aerocar-tn.jpg" alt="DMC Delorean">
        </div>
    </div>
    <footer>
        <p>Delorean Upgrades</p>
        <p>DMC Delorean Reviews</p>
    </footer>
</body>
</html> -->
